extends layout
include utils



append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  script(src="../public/javascripts/index.js")
  header
    div
      h1 VINYL
    div(class='buttons')
      a(href='/demo-user' class='demo') Demo User
      p:a(type='button' class='signin' id='sign-in-open') Sign-in
      p:a(type='button' class='signup' id='sign-up-open') Sign-Up
  main
    div(class='img-div')
      
    div.trends
      h2 Trending on vinyl
      div(class='trendContainer')
        if trending
          for trend in trending
            div(class='trendCards')
              div.rank
                h3=trend.id
              div.cardContent
                h3=trend.title
                p=trend.description
  footer
    p &copy; Team Record Player 2022
    div.githubs
      a(href="https://github.com/edwincarr") Edwin Carrillo
      a(href="https://github.com/mendezangel") Angel Mendez
      a(href="https://github.com/Cmizell186") Christopher Mizell
      a(href="https://github.com/tristanhuckabee-work") Tristan Huckabee


  div(class="sign-in-content")

    div(class="sign-in-container")
      if errors
        script.
          const signInContainer = document.querySelector('.sign-in-container');
          console.log(signInContainer);
          signInContainer.classList.add('show');
      div(id="sign-in-instructions")
        //- p Enter your information to Sign In:

        +validationErrorSummary(errors)
      form(action='/' method='post' class='login-form')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(id="userName-input")
          +field('inputBox', 'Username', 'userName', userName)
        div(id="password-input")
          label(for='Password') Password
          input(class='inputbox' type="password" id="password" name="password")
        div
          input(type="submit" value="Sign-in" id="sign-in-close")
      p Enter your information to Sign In:

  div(class="sign-up-content")
    div(class="sign-up-container")
      if errorsSignup
          script.
            const signUpContainer = document.querySelector('.sign-up-container');
            signUpContainer.classList.add('show');
      div(id="sign-up-instructions")
        //- p Enter your information to Sign Up:

        +validationErrorSummary(errorsSignup)
      form(action='/sign-up' method='post' class='signup-form')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(id="userName-input")
          +field('inputBox', 'Username', 'userName', userName)
        div(id="password-input")
          +field('inputBox', 'Password', 'password', null, 'password')
        div(id="password-input")
          +field('inputBox', 'Confirm Password', 'confirmPassword', '', 'password')
        div()
          input(type="submit" value="Sign-up" id="sign-up-close")
      p Enter your information to Sign Up:
