extends layout
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/records.css")
  link(rel="stylesheet" href="/stylesheets/delete-record-confirm.css")

  //- add page specific js
  script(src="/javascripts/records.js" type="module" defer)
  script.
    const redirect = (id) =>{
      window.location.href = `/records/${id}`
    }

block content

  include navbar
  include delete-record-confirm
  main
    for record in records
      if record.userId === pk
        div.records(id=`record-container-${record.id}` onclick=`redirect(${record.id})`)
          h2= record.title
          a(href=`/users/${record.User.id}`)
            p.author= record.User.userName
          p.description= record.description
          div.authorOpts
            button.delete-button-toggle(id=`delete-post-${record.id}`) Delete
            a(href=`/records/${record.id}/edit`)
              button edit
      else
        div.records(onclick=`redirect(${record.id})`)
          h2= record.title
          a(href=`/users/${record.User.id}`)
            p.author= record.User.userName
          p.description= record.description
