extends layout

append head
    link(rel="stylesheet" href="/stylesheets/recordsId.css")
    script(src="/javascripts/records.js" type="module" defer)
    script(src="/javascripts/recordComment.js" type="module" defer)

block content
    //- include navbar
    main
        div()
            h1= record.title
            h2= record.User.userName
            p= record.description
        div()
            h2 comment section
            form(action=`/comments` method="post" class="comments-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='recordId' value=record.id class="recordId")
                input(type='hidden' name='userId' value=record.User.id class="userId")
                div(class='text-area')
                    label(for='description') Comment here:
                    textarea(name="description" type='text' id="description", cols="30", rows="10")
                button(type='submit' id=`newComment-btn`) submit
        div(id="comments-container")
            for comment in comments
                p= comment.description
