extends layout

append head
    link(rel="stylesheet" href="/stylesheets/recordsId.css")
    link(rel="stylesheet" href="/stylesheets/delete-comment-confirm.css")
    script(src="/javascripts/records.js" type="module")
    script(src="/javascripts/delete-comment.js" type="module")

block content
    include navbar
    main
        div(class="record-info")
            h1= record.title
            h4= record.User.userName
            p= record.description
            if isLiked
                div(class='applaud-down-div')
                    button(class='applaud' id=`${pk}`)
                        i(class='fas fa-music fa-2x')
                    p(class='likes')= likeCounter
            else
                div(class='applaud-up-div')
                    button(class='applaud' id=`${pk}`)
                        i(class='fas fa-music fa-2x')
                    p(class='likes')= likeCounter
        div(class="comments-section")
            h2 Comment Section
            form(action=`/comments` method="post" class="comments-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='recordId' value=record.id class="recordId")
                input(type='hidden' name='userId' value=pk class="userId")
                div(class='text-area')
                    label(for='description')
                    textarea(name="description" type='text' id="description" placeholder="What are your thoughts?")
                button(type='submit' id=`newComment-btn`) comment
        div(id="comments-container")
            for comment in comments
                div(class="individual-comment" id=`comment-container-${comment.id}`)
                    a(href=`/users/${comment.User.id}`)
                        h4= comment.User.userName
                    p= comment.description
                    if comment.userId === pk
                        button(class="delete-comment" id=`${comment.id}`) delete
        div(class="delete-window-comment-container")
            div(class="delete-window-comment")
                div(class="delete-comment-text")
                    h3 Delete Comment?
                div(class="delete-cancel-comment-buttons")
                    button(class='delete-comment-button') Delete
                    button(class='cancel-comment-button') Cancel
