extends layout
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/records.css")
  link(rel="stylesheet" href="/stylesheets/delete-record-confirm.css")

  //- add page specific js
  script(src="/javascripts/records.js" type="module" defer)
  script.
    const redirect = (id) =>{
      window.location.href = `/records/${id}`
    }

block content

  include navbar
  main
    h2 Feed
    for record in records
      if record.userId === pk
        div(class="records" id=`record-container-${record.id}` onclick=`redirect(${record.id})`)
          h2= record.title
          a.author(href=`/users/${record.User.id}`)= record.User.userName
          p.description= record.description
          div(class='authorOpts' id=`author-opts-${record.id}`)
            button(class="delete-button-toggle delete" id=`delete-post-${record.id}`)
              i.fas.fa-trash-can.fa-2x
            a(href=`/records/${record.id}/edit`)
              button(class="edit-button edit")
                i.fas.fa-pen-to-square.fa-2x
      else
        div.records(onclick=`redirect(${record.id})`)
          h2= record.title
          a.author(href=`/users/${record.User.id}`)= record.User.userName
          p.description= record.description
          div.authorOpts.not-author

    div.footer
      p &copy; Team Record Player 2022
      div.githubs
        a(href="https://github.com/edwincarr") Edwin Carrillo
        a(href="https://github.com/mendezangel") Angel Mendez
        a(href="https://github.com/Cmizell186") Christopher Mizell
        a(href="https://github.com/tristanhuckabee-work") Tristan Huckabee

  include delete-record-confirm
