extends layout
include utils

append head
    link(rel="stylesheet" href="/stylesheets/user.css")
    script(src="/javascripts/users.js" type="module" defer)
    script.
      const redirect = (id) =>{
      window.location.href = `/records/${id}`
      }

block content
    include navbar
    include delete-record-confirm
    main
        if records
          h2 Users Records
            for record in records
                if user.id === pk
                    div.records(id=`record-container-${record.id}` onclick=`redirect(${record.id})`)
                        h2= record.title
                        p.description= record.description

                        div(class='authorOpts' id=`author-opts-${record.id}`)
                          button(class="delete-button-toggle delete" id=`delete-post-${record.id}`)
                            i.fas.fa-trash-can.fa-2x
                          a(href=`/records/${record.id}/edit`)
                            button(class="edit-button edit")
                              i.fas.fa-pen-to-square.fa-2x
                else
                    div.records(onclick=`redirect(${record.id})`)
                        h2= record.title
                        p.description= record.description
                        div.authorOpts.not-author
        else
          div#noTastes
            h2 Given Your Records, You've got Great Tastes!!!
            p Prove Me Wrong
    aside
        h1= user.userName
        div.relations
          if pk !== user.id
            if isFollowed === true
              div(class="follow relate" style="background-color: #661b1c")
                i.fas.fa-circle-minus.fa-3x(style="color: #dddddd")
            else
              div(class="follow relate" style="background-color: #dddddd")
                i.fas.fa-circle-plus.fa-3x(style="color: #191d26")

          else
            div(class="follow relate hidden")
          div.follow
              if followers
                p.followers= followers
              else
                p.followers= 0
              p.followers-p FOLLOWERS
          div.follow
              if following
                p.following= following
              else
                p.following= 0
              p.following-p FOLLOWING
        if user.bio
            p.bio= user.bio
        else
            p.bio No Bio Available :(
