extends layout
include utils

append head
    link(rel="stylesheet" href="/stylesheets/user.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    include navbar
    main
        if records
            for record in records
              div.record
                  h2= record.title
                  p= record.description
    aside
        h1= user.userName
        div.relations
          if notSame 
            div.follow(onclick='')
          div.follow
              if following 
                p= following
              else
                p= 0 
              p FOLLOWERS
          div.follow
              if followers 
                p= followers
              else
                p= 0 
              p FOLLOWING
        if user.bio
            p= user.bio
        else 
            p.empty No Bio Available :(

